<div class="row my-4">
    <div class="col-md-12">
      <h3>Add Book</h3>
      <hr />
      <form [formGroup]="bookForm" (ngSubmit)="onAddBook()">
        <div class="mb-3">
          <label>Title</label>
          <input type="text" class="form-control" formControlName="title" />
  
          <div
            *ngIf="bookForm.get('title').touched && !bookForm.get('title').valid"
          >
            <div *ngIf="bookForm.get('title').errors.required">
              Title is required
            </div>
            <div *ngIf="bookForm.get('title').errors.minlength">
              Title should be minimum 6 characters
            </div>
          </div>
        </div>
        <div class="mb-3">
          <label>Description</label>
          <textarea class="form-control" formControlName="description"></textarea>
          <div>{{ showDescriptionErrors() }}</div>
        </div>
  
        <div class="my-3">
          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="!bookForm.valid"
          >
            Add Book
          </button>
        </div>
      </form>
    </div>
  </div>
  